certifi==2024.8.30
charset-normalizer==3.3.2
fake-useragent==1.5.1
idna==3.8
psycopg2-binary==2.9.3
pyaes==1.6.1
pyasn1==0.6.0
python-dotenv==1.0.1
requests==2.32.3
rsa==4.9
schedule==1.1.0
Telethon==1.24.0
urllib3==2.2.2
